<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Home</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- Accounts -->
    <!-- <li class="nav-item" [ngClass]="{'active' : admin.isActive || corporateAccount.isActive}" *ngIf="!sharedUserData.isCorporateAdmin">
      <a class="nav-link" (click)="accountsCollapsed = !accountsCollapsed" [attr.aria-expanded]="accountsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!accountsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/admin" routerLinkActive="active" #admin="routerLinkActive">Admins</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/corporate-account" routerLinkActive="active" #corporateAccount="routerLinkActive">Corporate Accounts</a></li>
        </ul>
      </div>
    </li> -->
    <!-- Accounts -->

  </ul>
</nav>
