<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Home
  </h3>
  <nav aria-label="breadcrumb">
    <button type="button" class="btn btn-warning btn-fw" (click)="openAddModal(addModal)">New invitation</button>
  </nav>
</div>

<div class="row mx-0">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Total Registrations
          <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{ totalRegistrations }}</h2>
        <h6 class="card-text">of Total {{totalCount}} </h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
        <h4 class="font-weight-normal mb-3">QRs Sent
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{ qrsSent }}</h2>
        <h6 class="card-text">of Total {{totalCount}} </h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Total Attendents
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{ totalAttendents }}</h2>
        <h6 class="card-text">of Total {{totalCount}} </h6>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
  <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
  <empty-list *ngIf="users.length <= 0"></empty-list>
  <div class="col-lg-12 grid-margin stretch-card" *ngIf="users.length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users List</h4>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Phone
                </th>
                <th>
                  Full Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Company
                </th>
                <th>
                  Title
                </th>
                <th>
                  Sector
                </th>
                <th>
                  Registered
                </th>
                <th>
                  QR Sent
                </th>
                <th>
                  Attended Event
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <td>
                  {{ item.phone }}
                </td>
                <td>
                  {{ item.fullName }}
                </td>
                <td>
                  {{ item.email }}
                </td>
                <td>
                  {{ item.company }}
                </td>
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.sector }}
                </td>
                <td>
                  <ng-container *ngIf="item.submittedRegistration; else elseNotSubmittedTemplate">
                    <label class="badge badge-success">YES</label>
                  </ng-container>
                  <ng-template #elseNotSubmittedTemplate>
                      <label class="badge badge-danger">NO</label>
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="item.adminSentQR; else elseQRNotSentTemplate">
                    <label class="badge badge-success">YES</label>
                  </ng-container>
                  <ng-template #elseQRNotSentTemplate>
                      <label class="badge badge-danger">NO</label>
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="item.attendedEvent; else elseNotAttendTemplate">
                    <label class="badge badge-success">YES</label>
                  </ng-container>
                  <ng-template #elseNotAttendTemplate>
                      <label class="badge badge-danger">NO</label>
                  </ng-template>
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" [disabled]="!item.submittedRegistration" (click)="openSendQRCode(sendQRModal, item)">Send QR</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)"
    [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex"
    aria-label="Default pagination"></ngb-pagination>

</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Send new invitation link</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body m-3">
      <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
        <!-- <div class="form-group">
          <label for="phoneKey">Phone key</label>
          <input type="tel" class="form-control form-control-lg" id="phoneKey" autocomplete="false" formControlName="phoneKey"
            placeholder="Enter phone key.">
        </div> -->
        <div class="form-group">
          <label for="phone">Phones</label>
          <textarea class="form-control form-control-lg" id="phone" formControlName="phone"
            placeholder="Enter phones separated by a space." cols="30" rows="10"></textarea>
          <!-- <input type="" class="form-control form-control-lg" id="phone" autocomplete="false" formControlName="phone"
            placeholder="Enter phone."> -->
        </div>
        <!-- <div class="form-group">
          <label for="invitationLink">Invitation link</label>
          <input type="text" class="form-control form-control-lg" id="invitationLink" autocomplete="false"
            formControlName="invitationLink" placeholder="Enter invitation link.">
        </div> -->

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
          <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<ng-template #sendQRModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-2">Send Qr</h5>
          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body m-3">
          Are you sure of sending QR code to 
          <span class="text-success font-weight-bold">{{ selectedUser.fullName }}</span> - <span class="text-success font-weight-bold">{{ selectedUser.phone }}</span>?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="sendQRCode()">Send</button>
          <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
      </div>
  </div>
</ng-template>